.u-center-text {
    text-align: center;
}

.u-margin-bottomm-small {
    margin-bottom: 1.5rem;
}

.u-margin-bottomm-medium {
    margin-bottom: 4rem;
}

.u-margin-bottomm-big {
    margin-bottom: 8rem;
}
